Options +FollowSymlinks
RewriteEngine on

#get all articles
RewriteRule ^API/articles$ API/applicationAPI.php [L]

#get article by id
RewriteRule ^API/articles/([0-9]+)$ API/applicationAPI.php?id=$1 [L]

#post an article
#modify an article
#like an article
#dislike an article
#delete an article

