Options +FollowSymlinks
RewriteEngine on

# authentification
RewriteRule ^API/auth/login$ API/authentificationAPI.php?action=login [L]
RewriteRule ^API/auth/signup$ API/authentificationAPI.php?action=signup [L]

#get the role of the user requesting the API
RewriteRule ^API/role$ API/applicationAPI.php?action=getRole [L]

#get the id of the user requesting the API
RewriteRule ^API/id$ API/applicationAPI.php?action=getId [L]

#get all articles
RewriteRule ^API/articles$ API/applicationAPI.php?action=allArticles [L]

#get articles by from a specific user
RewriteRule ^API/articles/my API/applicationAPI.php?action=myArticles [L]

#post an article
RewriteRule ^API/add/article$ API/applicationAPI.php [L]
#modify an article
RewriteRule ^API/modify/article/([0-9]+)$ API/applicationAPI.php?id_article=$1 [L]
#like an article
RewriteRule ^API/like/article/([0-9]+)$ API/applicationAPI.php?action=like&id_article=$1[L]
#dislike an article
RewriteRule ^API/dislike/article/([0-9]+)$ API/applicationAPI.php?action=dislike&id_article=$1[L]
#delete an article
RewriteRule ^API/delete/article/([0-9]+)$ API/applicationAPI.php?id_article=$1 [L]

